{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>DEAD MAU 5</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum molestias quo quae quos? Ullam culpa quod dolore quidem sed voluptatem voluptates sint, eveniet, exercitationem, aspernatur accusantium perspiciatis esse. Provident, quas.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/deadmau.jpg" alt="..." class="img-thumbnail">
    </div>
</div>

{{> footer}}